body {
    color:rgb(66, 230, 25);
    width: 100vw;
    height: 100vh;
    background: rgb(150, 79, 216);
    
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;

}

form{
    background: rgba(105, 44, 3, 0.719);
    width: 50%;
    padding: 20px;
    border-radius: 10%;    

} 
h1{
    color:rgb(77, 29, 252)
}
.form-group{
    width: 70%;
    height:35px;
    display: flex;
    justify-content: center;
}
.form-num{
    width: 30%;
    height: 20px;

}
input{
    margin-bottom: 10px;

}
.but{
    width: 100%;
    display: flex;
    justify-content: center;

}
button{
    margin-top:10px;
    height:25px;
    width: 200px;
    background:rgba(223, 74, 15, 0.719);
    color: rgb(255, 255, 255);
    border-radius: 20px;

}
textarea{
    width:90%;
}